:root {
   --primary: #252b48;
   --bg: #a6f6ff;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   height: 2000px;
   scroll: snap mandatory;
}

.myNavbar {
   background-color: #a6f6ff;
   color: #252b48;
   backdrop-filter: blur(2px);
}

.myNavbar .offcanvas {
   height: 100vh;
   background-color: #252b48;
}

.myNavbar span {
   font-style: italic;
   font-weight: bold;
   color: #a6f6ff;
}

.myNavbar .offcanvas-title {
   color: #fff;
}

.navbar .navbar-nav a::after {
   /* conten di kosongkan supaya bisa di kasih style */
   content: '';

   /* memunculkan border dibawah */
   display: block;

   /* mengatur jarak border pada teks navbar */
   padding-bottom: 0.5rem;

   /* membuat garis/border */
   border-bottom: 0.1rem solid #252b48;

   /* mematikan animasi nya dulu dan muncul nya ketika di hover */
   transform: scaleX(0);

   /* mengatur muncul waktu nya hover supaya lebih smoot dan halus */
   transition: 0.2s linear;
}

/* memunculkan ::after ketika di hover atau di cursor */
.navbar .navbar-nav a:hover::after {
   /* memunculkan kembali animasi ketika di hover (1 itu penuh dan 0.5 setengah */
   transform: scaleX(0.7);
}

.navbar a {
   /* 0 itu atas bawah dan 0.5rem kiri kanan */
   margin: 0 0.5rem;
}

.navbar a:hover {
   color: var(--primary);
}

.home {
   min-block-size: 100vh;
   background-image: url(img/6.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.home .img-home {
   margin-top: 100px;
   margin-left: 150px;
}

.home .kurir {
   width: 160%;
}

.home h1 {
   font-weight: bold;
   color: #fff;
   font-size: 3rem;
   margin-top: 10%;
   margin-left: 5%;
}

.home p {
   margin-left: 5%;
}

.home h2 {
   font-size: 40px;
   margin-top: 170px;
   color: #fff;
   font-weight: bold;
}

.home .toDoor {
   font-size: 1rem;
   color: #fff;
}

.home span {
   font-weight: bold;
}

.home .btn-order {
   background-color: #a6f6ff;
   margin-top: 0.5rem;
   display: inline-block;
   padding: 1rem 2rem;
   border-radius: 2rem;
   box-shadow: #252b48 0px 8px;
   text-decoration: none;
   color: #252b48;
   font-size: 1.2rem;
   font-weight: bold;
}

.home .btn-order:hover {
   background-color: #252b48;
   color: #a6f6ff;
   box-shadow: #252b48 0px 0px;
}

.layanan {
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.layanan h1 {
   color: var(--primary);
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
}

.scroll {
   position: relative;
   transform: translateY(150px);
   opacity: 0;
   transition: all 2s ease;
}

.scroll.active {
   transform: translateY(0px);
   opacity: 1;
}

/* Media Query */
/* Laptop */
@media (max-width: 992px) {
   html {
      font-size: 75%;
   }
}

/* Tablet */
@media (max-width: 768px) {
   html {
      font-size: 70%;
   }

   .home h2 {
      font-size: 27px;
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .home h1 {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .home .toDoor {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .home .btn-order {
      margin-left: 37%;
   }

   .home .kurir {
      margin-left: 180px;
      width: 180px;
   }
}

/* Mobile Phone */
@media (max-width: 576px) {
   html {
      font-size: 65%;
   }

   .home h2 {
      font-size: 1.7rem;
      margin-top: 120px;
   }

   .home h1 {
      font-size: 3rem;
      margin: 0;
   }

   .home .toDoor {
      font-size: 1rem;
   }

   .home .btn-order {
      margin-left: 30%;
   }

   .navbar {
      padding: 10px;
   }

   .home .kurir {
      margin-left: 57px;
      width: 250px;
   }

   .layanan h5 {
      font-size: 2rem;
   }

   .layanan p {
      font-size: 1.5rem;
   }

   .card {
      width: 70%;
      margin-left: 15%;
   }
}
