:root {
   --primary: #252b48;
   --bg: #a6f6ff;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   /* height: 7000px; */
}

.myNavbar {
   background-color: #a6f6ff;
   color: #252b48;
   backdrop-filter: blur(2px);
}

.myNavbar .offcanvas {
   height: 100vh;
   background-color: #252b48;
}

.myNavbar span {
   font-style: italic;
   font-weight: bold;
   color: #a6f6ff;
}

.myNavbar .offcanvas-title {
   color: #fff;
}

.navbar .navbar-nav a::after {
   /* conten di kosongkan supaya bisa di kasih style */
   content: '';

   /* memunculkan border dibawah */
   display: block;

   /* mengatur jarak border pada teks navbar */
   padding-bottom: 0.5rem;

   /* membuat garis/border */
   border-bottom: 0.1rem solid #252b48;

   /* mematikan animasi nya dulu dan muncul nya ketika di hover */
   transform: scaleX(0);

   /* mengatur muncul waktu nya hover supaya lebih smoot dan halus */
   transition: 0.2s linear;
}

/* memunculkan ::after ketika di hover atau di cursor */
.navbar .navbar-nav a:hover::after {
   /* memunculkan kembali animasi ketika di hover (1 itu penuh dan 0.5 setengah */
   transform: scaleX(0.7);
}

.navbar a {
   /* 0 itu atas bawah dan 0.5rem kiri kanan */
   margin: 0 0.5rem;
}

.navbar a:hover {
   color: var(--primary);
}

.home {
   min-block-size: 100vh;
   background-image: url(img/6.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.home .img-home {
   margin-top: 100px;
   margin-left: 150px;
}

.home .kurir {
   width: 160%;
}

.home h1 {
   font-weight: bold;
   color: #fff;
   font-size: 3rem;
   margin-top: 10%;
   margin-left: 5%;
}

.home p {
   margin-left: 5%;
}

.home h2 {
   font-size: 40px;
   margin-top: 170px;
   color: #fff;
   font-weight: bold;
}

.home .toDoor {
   font-size: 1rem;
   color: #fff;
}

.home span {
   font-weight: bold;
}

.home .btn-order {
   background-color: #a6f6ff;
   margin-top: 0.5rem;
   display: inline-block;
   padding: 1rem 2rem;
   border-radius: 2rem;
   box-shadow: #252b48 0px 8px;
   text-decoration: none;
   color: #252b48;
   font-size: 1.2rem;
   font-weight: bold;
}

.home .btn-order:hover {
   background-color: #252b48;
   color: #a6f6ff;
   box-shadow: #252b48 0px 0px;
}

.layanan {
   padding: 10rem 10rem;
}

.layanan h2 {
   color: var(--primary);
   font-weight: bold;
   display: flex;
   justify-content: center;
   font-size: 2.5rem;
   border-bottom: solid 5px var(--primary);
   padding: 30px;
   width: 50%;
}

.layanan .card:hover {
   transform: scale(1.1);
}

.harga {
   background-color: var(--primary);

   /* filter: grayscale(); */
   padding-bottom: 5rem;
   padding-top: 2rem;
}

.harga h2 {
   padding-top: 5rem;
   padding-bottom: 5rem;
   font-weight: bold;
}

.tentangKami {
   padding-top: 7rem;
}

.tentangKami h2 {
   color: var(--primary);
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
   border-bottom: solid 5px var(--primary);
   padding: 30px;
   width: 50%;
}

.tentangKami .maps {
   margin-bottom: 50px;
}

.paragraf p {
   text-align: justify;
}

.paragraf p span {
   background-color: var(--primary);
   color: #fff;
   padding: 0.3rem;
   border-radius: 10px;
   font-style: italic;
   margin-left: 40px;
}

.kontak h2 {
   color: #fff;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
   border-bottom: solid 5px #fff;
   padding: 30px;
   width: 50%;
}

.kontak {
   background-color: var(--primary);
   padding: 2rem;
}

.kontak .bgKontak {
   background-color: var(--bg);
   height: 600px;
   padding: 2.5rem;
   color: var(--primary);
   border-radius: 25px;
}

.kontak .lokasi {
   margin-left: -50px;
}

footer {
   padding: 1rem;
   background-color: var(--bg);
   color: var(--primary);
}

footer a {
   color: var(--primary);
   font-weight: bold;
   text-decoration: none;
}

footer a:hover {
   color: red;
}

footer li {
   list-style: none;
   display: inline;
}

.audio-icon {
   width: 4rem;
   height: 4rem;
   font-size: 4rem;
   position: fixed;
   bottom: 4rem;
   right: 2rem;
   cursor: pointer;
   color: white;
   mix-blend-mode: difference;
   opacity: 0.5;
   animation: muter 4s linear infinite;
   transform-origin: center;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 0;
}

.wa a {
   position: fixed;
   right: 30px;
   bottom: 50px;
   text-decoration: none;
   color: black;
   background-color: rgb(35, 243, 16);
   border-radius: 50%;
   height: 55px;
   width: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

/* scrol js */
.scroll {
   position: relative;
   transform: translateY(150px);
   opacity: 0;
   transition: all 2s ease;
}

.scroll.active {
   transform: translateY(0px);
   opacity: 1;
}

/* Media Query */
/* Laptop */
@media (max-width: 992px) {
   html {
      font-size: 75%;
   }
}

/* Tablet */
@media (max-width: 768px) {
   html {
      font-size: 70%;
   }

   .home h2 {
      font-size: 27px;
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .home h1 {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .home .toDoor {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .home .btn-order {
      margin-left: 37%;
   }

   .home .kurir {
      margin-left: 180px;
      width: 180px;
   }
}

/* Mobile Phone */
@media (max-width: 576px) {
   html {
      font-size: 65%;
   }

   .home h2 {
      font-size: 2.5rem;
      margin-top: 120px;
      text-align: center;
   }

   .home h1 {
      font-size: 3rem;
      margin: 0;
   }

   .home .toDoor {
      font-size: 1rem;
   }

   .home .btn-order {
      margin-left: 30%;
   }

   .navbar {
      padding: 10px;
   }

   .home .kurir {
      margin-left: 57px;
      width: 250px;
   }

   .layanan {
      padding: 10rem 10rem;
   }

   .layanan h2 {
      text-align: center;
      font-size: 3rem;
      width: 50%;
   }

   .layanan h5 {
      font-size: 2rem;
   }

   .layanan p {
      font-size: 1.5rem;
   }

   .card {
      width: 200%;
      margin-left: -50%;
   }

   .harga {
      padding-top: 2rem;
   }

   .harga h2 {
      text-align: center;
      font-size: 2.2rem;
   }

   .harga h3 {
      text-align: center;
      font-size: 1.7rem;
   }

   .harga .table {
      width: 80%;
      margin-left: 10%;
   }

   .tentangKami h2 {
      text-align: center;
   }

   .paragraf p span {
      font-size: 1.2rem;
   }

   .tentangKami .paragraf {
      margin-top: 5rem;
      margin-bottom: 5rem;
   }

   .tentangKami .maps {
      margin-left: 1%;
      text-align: center;
   }

   .tentangKami .img {
      margin-left: 5%;
      margin-top: 10%;
      height: 90%;
      width: 90%;
   }

   .kontak .bgKontak {
      height: 520px;
   }

   .kontak .bgKontak span {
      font-size: 5rem;
   }

   .bgKontak h3 {
      font-size: 2rem;
   }

   .bgKontak p {
      font-size: 1.2rem;
   }

   .bgKontak span {
      font-size: 5rem;
   }

   .wa i {
      font-size: 3rem;
   }
}
